
         
body {
  max-width: 1440px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  background: $body;
}
.bodywrap {
  position: relative; 
  }
/* Стили для блока header */

.header__container {
  border-bottom: 1px solid $background;
  margin-bottom: 24px;        
}

.menu__nav {
  display: flex;
  justify-content: space-between;
  padding-top: 17.59px;
  padding-left:  16px;
  padding-right: 16px;
  padding-bottom: 17.59px;
  background: $menu;                     
}

.menu__nav-left {
  display: flex;
  align-items: center;
  gap:20px;
}

.divider1{
  width:2px;
  height:32px;
  border-radius: 1px;
  background: $border;
}

.divider2 {
  width:2px;
  height:32px;
  border-radius: 1px;
  background: $border;
}

.menu__nav-right {
  display: flex;
  align-items: center;
  gap:20px;
  
}

/*.call,
.chat,
.profile,
.divider1 {
   display: none;
}*/

/* Стили для блока main */
.main__container {
  // height: 509px;
  padding: 0; 
  flex: 1 1 auto; 
}

.main-section {
  margin-bottom: 24px;
}

.main-section__content-left {
  display: flex;
  align-items: center;
  min-width: 304px;
  height: 40px;        
}

.main-section__title {
  font-family: "TT Lakes Bold", sans-serif;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  color: $title;
  margin-left: 16px;
  width: 288px;
  height: 40px;   
}



.main-section__highlight {
  display: flex;
  width: 4px;
  height: 40px;
  border-radius: 0 10px 10px 0;
  background-color: $highlight;
}

/* Стили для блока main__nav */

.main__nav {
  height: 40px;
  padding-left: 16px;
  margin-bottom: 36px;   
}

.main__nav-list {
  margin: 0;
  padding: 0;
  display: flex;
  overflow-x: scroll;
  justify-content: space-between;
  align-items: center;
  padding-right: 32px;
  
}
/*удаление скрола*/
.main__nav-list::-webkit-scrollbar {
  width: 0;
}

.main__nav-list-item-button {
  font-family: "TT Lakes Medium", sans-serif;
  background-color: $body;
  white-space: nowrap;
  text-align: center;
  padding: 8px 16px 8px 16px;
  color: $text-color;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  border: 2px solid transparent;
}
.main__nav-list-item-button:hover {
  border-radius: 6px;
  border: 2px solid $border2;
  background-color: $menu;
  
       
}
.active-button {
  border-radius: 6px;
  border: 2px solid $border2;
  background-color: $menu;
}

/* Стили для блока info */
.info__about {
  
  padding-bottom: 16px;
}

.info__about_text {

  font-family: "TT Lakes Regular";
  height: 90px;
  font-size: 14px;
  letter-spacing: 0.2px;/*
  line-height: 18px;
  color: #1B1C21;*/
  overflow: hidden;
  margin-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  
}
.info__button {
  background-color: transparent;
  display: flex;
  margin-bottom: 16px;
  margin-left: 16px;
  align-items: center;
}
.info__button_expand {
  font-family: "TT Lakes Medium";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: $title;
  
}
.info__complany {
  min-width: 100%;
  height: auto;
}
/*------------------------ footer ------------------------*/
.footer__wrapper {
  padding-left: 32px;
}
.footer__line {
  width: auto;
  height: 1px;
  flex-shrink: 0;
  background: $background;
  margin-bottom: 32px;
}
.footer__description {
  margin-bottom: 1;
}
.footer__description-text {
  color: $title;
  font-family: "TT Lakes Regular", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.2px;
  margin-bottom: 16px;
}
.footer__offer {
 margin-bottom: 50px;
}
.footer__offer-text {
  color: $title;
  font-family: "TT Lakes Medium", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.2px;
}
.footer__info {
display: flex;
justify-content: space-between;
margin-bottom: 21px;

}
.footer__info-text:nth-child(3) {
  max-width: 330px;
  text-align: end;

}
.footer__info-text {
  color: $text-color;
  font-family: "TT Lakes Medium", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 114.286% */
}
.footer__info-text:nth-child(3) {
  text-align: right;

}
.footer__offer-btn {
  background: $body;
}


@media (max-width: 480px) {
  .footer__wrapper {
    padding-left: 16px;
  }
  .footer__info {
  flex-direction: column;
  gap: 16px;
  align-items: center;
  }
  .footer__info-text{
    text-align: center;
  
  }
  .footer__info-text:nth-child(3) {
    text-align: center;
  
  }
}

@media (max-width: 767px) {
  .menu__nav-right .call,
  .menu__nav-right .chat,
  .menu__nav-right .profile,
    .divider1 {
      display: none;
    }
    .main-section__content-right {
      display: none;
      }

      .header {
      padding-top: 0;
      padding-bottom: 0;
      
      }
      .header__wrapper {
      height: 80px;
      margin-bottom: 16px;
      padding-bottom: 0;
      }
      .info__complany {
      margin-bottom: 32px;
      }
    .footer__info {
    gap: 20px;
    }
}

/*------------------------ 768px 1119px ------------------------*/
@media (min-width: 768px) and (max-width: 1119px) {
  .call,
  .chat,
  .profile,
  .divider1 {
       display: block;
  }
  .header {
    padding: 0;
  }
  .main__container {
     background-color: $body;
  
  }
  .main-section__content-right {
      display: none;
  }

  .info__container {
      display: flex;
      gap: 36px;
      
  }

  .info__complany {
      min-width: 50%;
      height:auto;
      margin-right: 24px;
      border-radius: 10px 10px 10px 10px;
      margin-bottom: 24px;
      
  }
 .info__about_text {
   
   height: 160px;
   color: $title;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  }
  .info__button {
      margin-left: 11px;
  }
  .cat3__wrapper {
    display: none;
    }
  .footer__info {
  gap: 20px;
  }

}
/*------------------------ 1120px ------------------------*/
@media (min-width: 1120px) {
  
  .container {
    position: absolute;
    left: 320px;
  }
  .header {
      display:none;
  }
  .info__about {
  height: auto;
  }


  .main-section {
  display: flex;
  justify-content: space-between;
  padding-right: 32px;
  padding-top: 42px;
  }

 
  .main-section__content-right {
      font-family: "TT Lakes Medium";
  }
  .main-section__button {

  background-color: $body;
  margin-left: 25px;
  
  }
  .main-section__button-text {
      display: inline-block;
      padding-top: 10px;
      margin-right: 5px; 
      
      font-size: 16px;       
  }

  .info__container {
      display: flex;
      
      gap: 36px;
      padding-top: 30px;
  }
  .main__nav-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 2px;
      
  }


  .info__complany {
      min-width: 50%;
      height:50%;
      margin-right: 24px;
      border-radius: 10px 10px 10px 10px;
      
      margin-bottom:auto;
      
      
  }

  
  .info__about_text {
      
      height: 160px;
      padding-top: 19.22px;
     }
 .info__button {
  margin-left: 8px;
  }
  .info {
    margin-bottom: 20px;
  
  }
  .cat3__wrapper {
  display: none;
  }
  .footer__info {
    gap: 20px;
    }
}


