/* Стили для @media */


@media (max-width: 480px) {
  .fade {
      position: fixed;
      right: 0;
      width: 24px;
      height: 81px;
      flex-shrink: 0;
      background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.00) 100%);
      z-index: 2;
  }

  .swiper-wrapper {
      padding-left: 16px;
      padding-bottom: 32px;
      padding-right: 22px;
  }

  .swiper-slide {
      width: 240px;
      height: 72px;
      border-radius: 6px;
      border: 1px solid #EAEAEA;
      background: #FFF;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-shrink: 0;

  }

}



@media (min-width: 481px) and (max-width: 767px) {
  .swiper {
      display: none;
  }
}

@media (min-width: 768px) and (max-width: 1119px) {
  .swiper {
      display: none;
  }

}

@media (min-width: 1120px) {
  .swiper {
      display: none;
    }
}